.footer__links {
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}