.intro {
  margin: 0 auto 92px;
  max-width: calc(100% - 96px);
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: calc(100% - 48px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100% - 32px);
    margin-bottom: 64px;
  }
}
