.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  gap: 40px;
  margin: 0 auto 80px;
  justify-items: start;
}

@media screen and (max-width: 1280px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    column-gap: 28px;
    margin-bottom: 73px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
    max-width: 100%;
  }
}
